.credentials-page__submit {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    background-color: #fff;
    margin-top: 216px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentials-page__submit:hover {
    opacity: .6;
    cursor: pointer;
}